{
  "rules": {
    "default-case": 0,
    "indent": [ 2, 2 ],
    "linebreak-style": [ 2, "unix" ],
    "max-len": [1, 100, 2, { "ignoreComments": true }],
    "no-cond-assign": [2, "except-parens"],
    "no-else-return": 0,
    "no-param-reassign": 0,
    "no-unused-vars": [1, {"vars": "local", "args": "none"}],
    "prettier/prettier": ["error", {"singleQuote": true}],
    "quote-props": [1, "consistent-as-needed"],
    "radix": 0,
    "space-infix-ops": 0,
    "semi": [ 2, "always" ],
    "strict": 0
  },
  "env": {
    "node": true,
    "es6": true
  },
  "extends": "prettier",
  "plugins": ["prettier"]
}
