body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica';
}

p, li {
    font-family: 'Georgia';
    font-size: 16px;
    line-height: 140%;
}

#wrap {
    width: 700px;
    margin: 0 auto;
}

.left {
    width: 420px;
    padding-right: 55px;
    float: left;
}

.right {
    width: 225px;
    float: right;
}

.normal {
    clear:both;
}

#footer {
    margin: 50px 0 20px;
}
#footer p {
    text-align: center;
    font-size: 12px;
}
